@charset "UTF-8";
/* corpo da pagina */
body{
    background-color: #f0f0f0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
/* cabeçalho da pagina */
header{
    background-color: brown;
    width: 100%;
    padding: 20px;
    height: 80px;
    margin:auto ;
    position: fixed;/* Fixa o cabeçalho no topo da pagina */ 
    top: 0; 
    width: 110%; 
    padding: 10px 0;
    z-index: 1000; 
}

.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 20px;
    position: relative;
}
/* Estilos para o efeito de hover nos links */
.menu nav a::after{
    content:"";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg,white, #e04e69);
    position: absolute;
    top: 25px;
    left: 8px;
    transition: width 0.5s; /* Transição animada da largura do elemento */
}
/* Efeito quando o mouse passa por cima dos links */
.menu nav a:hover::after{
    width: 50px;
}

.conteiner{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    margin-right: 200px;
}

/* Estilo do texto */
.texto{
    max-width: 1000px; 
    margin: 20px auto; 
    background-color: #fff;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    margin-top: 120px;
}
/* Estilo do h1 */
h1 {
    font-size: 28px; 
    color: #333; 
    margin-bottom: 20px; 
}
/* Estilo do h2 */
h2 {
    font-size: 18px; 
    color: #666; 
    margin-bottom: 15px; 
}

.image{
    text-align: center; /* Centraliza a imagem */
    margin-top: 50px;
    border-radius: 8px; 
}

.image img {
    border-radius: 10px; /* bordas arredondadas */
}

.video{
    text-align: center; /* Centraliza o vídeo */
    margin-top: 50px; 
    margin-bottom: 50px; 
}

/* Estilos para o rodapé */
footer {
    background-color: brown;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
